@font-face
{
    src: url("assets/fonts/MyriadWebPro.ttf");
    font-family: main;
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    src: url("assets/fonts/MyriadWebPro-Bold.ttf");
    font-family: main;
    font-style: normal;
    font-weight: bold;
}

Application {
	font-family: main;
	font-size: 10;
}

HRule {
   strokeColor: #999999;
   shadowColor: #cccccc;
}

ToolTip {
   			backgroundAlpha: 0.85;
   			backgroundColor: #111111;
   			color: #ffffff;
   			font-family: main;
			font-size: 10;
}


