@font-face
{
    src: url("assets/fonts/MyriadWebPro.ttf");
    font-family: main;
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    src: url("assets/fonts/MyriadWebPro-Bold.ttf");
    font-family: main;
    font-style: normal;
    font-weight: bold;
}

Application {
	font-family: main;
	font-size: 10;
	backgroundColor: #ffffff;
   	
}


.linkButtonWindowShade {
	      	headerClass:ClassReference('mx.controls.LinkButton');
	      	header-style-name: linkButtonStyle;
	     
	     	drop-shadow-enabled:true;
	     	
	      	corner-radius:5;
	      	border-style:solid;
	    	
	    	background-color:#CCCCCC;
	    	background-alpha:.7;
	    }         

.linkButtonStyle {
	    	corner-radius:5;	
	    	fill-alphas:1,1;
	    	padding-left:10;
	    	rollOverColor: #666666;
	    	textRollOverColor: #ffffff;
	    }

ToolTip {
   			backgroundAlpha: 0.85;
   			backgroundColor: #111111;
   			color: #ffffff;
   			font-family: main;
			font-size: 10;
}

ComparisonMatrix {
			selection-color:#99ff99;
			roll-over-color:#ccffcc;
}

BaseAxis {
	/* axis label */
	labelFont: "verdana";
	labelSize: 9;
	labelColor: #000000;

	/* axis pointer */
	pointerColor: #FF0000;
	pointerSize: 8;
	pointerWeight: 4;

	/* axis stroke */
	strokeColor: #000000;
	strokeWeight: 2;

	/* following are not used yet 
	strokeAlpha: 1;
	gradientColors: #FF0000, #0000FF;
	gradientAlphas: 0.5, 0.5;
	fillColor: #000000;
	fillAlpha: 1;*/
}

.white{
	labelColor: #FFFFFF;
	pointerColor: #FFFFFF;
	strokeColor: #FFFFFF;
	fillColor: #FFFFFF;
}

BaseSeries {
	/* series color, stroke, alpha, gradients */
	/*	gradientColors: #000000, #FFFFFF; not set by default */
	gradientAlphas: 0.5, 0.5;
	fillColor: #FF0000;
	fillAlpha: .2;
	strokeColor: #000000;
	strokeWeight: 1;
	strokeAlpha: 1;
	
	/* series label */
	labelFont: "verdana";
	labelSize: 8;
	labelColor: #000000;
}

.redGradient {
	gradientColors: #FF0000, #000000;
	gradientAlphas: 1, 1;
}

.greyGradient {
	gradientColors: #FFFFFF, #000000;
	gradientAlphas: 1, 1;
}

.blueGradient {
	gradientColors: #0000FF, #000000;
	gradientAlphas: 1, 1;
}

.greenGradient {
	gradientColors: #00FF00, #000000;
	gradientAlphas: 1, 1;
}

.yellowGradient {
	gradientColors: #FFFF00, #000000;
	gradientAlphas: 1, 1;
}

.redGradientAlpha {
	gradientColors: #FF0000, #000000;
	gradientAlphas: .2, .2;
}

.greyGradientAlpha {
	gradientColors: #FFFFFF, #000000;
	gradientAlphas: .2, .2;
}

.blueGradientAlpha {
	gradientColors: #00FF00, #000000;
	gradientAlphas: .2, .2;
}

.greenGradientAlpha {
	gradientColors: #0000FF, #000000;
	gradientAlphas: .2, .2;
}

.yellowGradientAlpha {
	gradientColors: #FFFF00, #000000;
	gradientAlphas: .2, .2;
}

.redSolid {
	fillColor: #FF0000;
	fillAlpha: 1;
}

.greySolid {
	fillColor: #999999;
	fillAlpha: 1;
}

.greenSolid {
	fillColor: #0000FF;
	fillAlpha: 1;
}

.blueSolid {
	fillColor: #00FF00;
	fillAlpha: 1;
}

.yellowSolid {
	fillColor: #FFFF00;
	fillAlpha: 1;
}