Application {
	backgroundGradientColors: #767676,#767676;
	color: #000000;
}


ApplicationControlBar {
   highlightAlphas: 0.3, 0;
   fillAlphas: 1, 1;
   fillColors: #767676, #C6C6C6;
   backgroundColor: #767676;
}


ComboBox {
   color: #0b333c;
   borderColor: #b7babc;
   iconColor: #111111;
   fillColors: #767676, #c6c6c6, #ffffff, #c6c6c6; 
   selectionColor: #cccccc;
   textSelectedColor: #0b333c;
   rollOverColor: #999999;
   textRollOverColor: #0b333c;
   alternatingItemColors: #ffffff, #ffffff;
   themeColor: #c6c6c6;
   dropdownStyleName: "myComboBoxDropDowns";
}

.myComboBoxDropDowns {
   borderColor: #919495;
   color: #0b333c;
}

DataGrid {
           backgroundAlpha: 0.61;
           headerColors: #767676, #c6c6c6,#767676;
           horizontalGridLines: false;
           verticalGridLineColor: #c6c6c6;
           rollOverColor: #666666;
           textRollOverColor: #cccccc;
           selectionColor: #999999;
           textSelectedColor: #000000;
           color:#000000;
        }


.headerStyle
{
font-weight:bold;
text-align:center;
color:#000000;
}

HBox {
backgroundColor: #767676;
}

LinkBar {
   separatorColor: #666666;
   rollOverColor: #666666;
   selectionColor: #333333;
   color: #000000;
   textRollOverColor: #666666;
   textSelectedColor: #000000;
   disabledColor: #cccccc;
}

NumericStepper {
   borderColor: #666666;
   fillColors: #333333, #cccccc, #333333, #999999;
   backgroundColor: #FFFFFF;
   color: #000000;
}

Panel {
   borderColor: #333333;
   borderAlpha: 1;
   borderThicknessLeft: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
   borderThicknessRight: 1;
   roundedBottomCorners: true;
   headerHeight: 20;
   highlightAlphas: 0.36, 0.07;
   headerColors: #767676, #C6C6C6;
   backgroundColor: #ffffff;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   color: #000000;
   fontFamily: main;
   fontSize: 10;
}

VBox {
backgroundColor: #767676;
}

WorldMap {
    background-color : #767676;
  	stroke : #333333;
}

Choropleth{
	strokeItem : #333333;
}

Features{
	strokeItem : #333333;
}