Application {
	backgroundGradientColors: #333333,#333333;
	color: #ffffff;
}

CheckBox {
   color: #ffffff;
   textSelectedColor: #cccccc;
   textRollOverColor: #cccccc;
   themeColor: #666666;
}

ComboBox {
   color: #ffffff;
   highlightAlphas: 0.36, 0.04;
   fillAlphas: 0.84, 0.55, 0.57, 0.65;
   fillColors: #666666, #333333, #999999, #333333;
   selectionColor: #333333;
   textSelectedColor: #ffffff;
   themeColor: #666666;
   alternatingItemColors: #666666, #666666;
   rollOverColor: #333333;
   textRollOverColor: #ffffff;
}

DataGrid
{
	color:#FFFFFF;
  	backgroundAlpha:0;
	text-align:center;
}

.headerStyle
{
font-weight:bold;
text-align:center;
color:#000000;
}

RadioButton {
   color: #ffffff;
   textSelectedColor: #cccccc;
   textRollOverColor: #cccccc;
   themeColor: #666666;
   disabledColor: #cccccc;
}

LinkBar {
   separatorColor: #ffffff;
   rollOverColor: #666666;
   selectionColor: #cccccc;
   color: #ffffff;
   textRollOverColor: #cccccc;
   textSelectedColor: #cccccc;
   disabledColor: #cccccc;
}

NumericStepper {
   borderColor: #666666;
   fillColors: #333333, #cccccc, #333333, #999999;
   backgroundColor: #666666;
   color: #ffffff;
}

Panel {
   borderColor: #333333;
   borderAlpha: 0.6;
   borderThicknessLeft: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
   borderThicknessRight: 1;
   roundedBottomCorners: true;
   headerHeight: 20;
   highlightAlphas: 0.42, 0.1;
   headerColors: #000000, #666666;
   backgroundColor: #333333;
   dropShadowEnabled: true;
   dropShadowColor: #000000;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   color: #ffffff;
   fontFamily: main;
   fontSize: 10;
}

VBox {
backgroundColor: #333333;
}

HBox {
backgroundColor: #333333;
}

WorldMap {
    background-color : #333333;
  	stroke : #FFFFFF;
}

Choropleth{
	strokeItem : #FFFFFF;
}

Features{
	strokeItem : #FFFFFF;
}

Legend{
	textColor: #FFFFFF;
	borderStyle:none;
}